{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block landing-page %}

<div class="container">
    <div class="row sub-header">
        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-7">
            <h1>{{ PAGE_TITLE }}</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-5">
        </div>
    </div>


<div class="landing-page">
        <div class="row">


<p>This is the Terms of Use page.</p>
<p>This BlueButton Plus Prototype is free to use. We will add more terms here.
</p>

                    </div>

                </div>
            </div>
        </div>
</div>
{% endblock %}

